#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.inputForm {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex
}

input {
  margin-left: 0.5rem;
}

#confirmCheckbox {
  margin-bottom: 0;
}

.prettyButtom {
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  background-color: #2563eb; /* Cor azul */
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
  margin: 0;
  width: 100%;
}

.prettyButtom:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  filter: brightness(1.2);
}

.prettyButtom:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.basicInput {
  flex-grow: 1;
}